<div class="confirm-dialog" [class]="dialogTypeClass">

  <div class="dialog-header">
    <div class="dialog-icon-wrapper" [class]="'icon-' + data.type">
      <mat-icon class="dialog-icon">{{ data.icon }}</mat-icon>
    </div>
    <h2 mat-dialog-title class="dialog-title">{{ data.title }}</h2>
    <button mat-icon-button
            class="close-button"
            (click)="onCancel()"
            aria-label="Fermer">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-content">
    <p class="dialog-message">{{ data.message }}</p>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions" align="end">
    <button mat-stroked-button
            class="cancel-button"
            (click)="onCancel()">
      <mat-icon>close</mat-icon>
      <span>{{ data.cancelText }}</span>
    </button>
    <button mat-raised-button
            class="confirm-button"
            [class]="'confirm-' + data.type"
            (click)="onConfirm()">
      <mat-icon>check</mat-icon>
      <span>{{ data.confirmText }}</span>
    </button>
  </mat-dialog-actions>

</div>
