<div class="page-card">
  <h2>Rôles du ProfilService : {{ profil?.libelle }}</h2>

  <div class="dual-list">

    <div class="list-block">
      <h3>Rôles disponibles</h3>
      <ul>
        <li
          *ngFor="let r of allRoles"
          [class.disabled]="isAssigned(r)"
          (click)="!isAssigned(r) && add(r)">
          {{ r.code }} - {{ r.libelle }}
        </li>
      </ul>
    </div>

    <div class="list-block">
      <h3>Rôles assignés</h3>
      <ul>
        <li *ngFor="let r of assignedRoles" (click)="remove(r)" class="assigned">
          {{ r.code }} - {{ r.libelle }}
        </li>
      </ul>
    </div>

  </div>

  <button class="primary" (click)="saveRoles()">Enregistrer</button>
</div>
