<nav aria-label="breadcrumb" class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard" (click)="navigate('/dashboard'); $event.preventDefault()">
        <i class="fas fa-home"></i> Accueil
      </a>
    </li>

    <ng-container *ngFor="let item of breadcrumbs; let last = last">
      <li class="breadcrumb-item" [class.active]="last">
        <ng-container *ngIf="!last">
          <a [href]="item.url" (click)="navigate(item.url); $event.preventDefault()">
            {{ item.label }}
          </a>
        </ng-container>
        <ng-container *ngIf="last">
          <span>{{ item.label }}</span>
        </ng-container>
      </li>
    </ng-container>
  </ol>
</nav>
